<div id="nav">
    <div class="navbar">
            <div class="logo">
                <div class="image"></div>
                <span class="label">MyIntro</span>
            </div>
            <div class="links">
                <a href="" id="link_hello"><span>Hello</span></a>
                <!-- <a <?php //linkTo('corporate'); ?> id="link_corporate"><span>Corporate</span></a> -->
                <a href="/download" id="link_download"><span>Coming Soon</span></a>
            </div>
</div>
</div>